<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.kth.ssvl.tslab.wsn"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <!-- Permission - Internet Connect -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".app.MainActivity"
            android:label="@string/title_activity_main"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
        </activity>
        <activity
            android:name=".app.GatewayListActivity"
            android:label="@string/title_activity_web_data">
        </activity>
        <activity
            android:name=".app.ConfigActivity"
            android:label="@string/title_activity_daemon_config"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".app.StatisticsActivity"
            android:label="@string/title_activity_bundle_statistics"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".app.MainActivity"> <!-- notification, Pending Intent -->
             <meta-data
                  android:name="android.support.PARENT_ACTIVITY"
                  android:value=".app.MainActivity"/>
        </activity>
        <activity
            android:name=".app.DataListActivity"
            android:label="@string/title_activity_web_data_content"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".app.SensorListActivity"
            android:label="@string/title_activity_sensor_list"
            android:configChanges="orientation|screenSize">

        </activity>
        <service android:enabled="true" android:name=".service.WSNService"/>
    </application>

</manifest>